<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EWS API Testing">
	 

	<test name = "Details">
		<classes>
			<class name="testcases.testcases">	
				<methods>						
					<include name="getGroupDetails"/>
				</methods>		
			</class>
		</classes>
	</test>
	


	
</suite>
